@media screen and (min-width:768px) {
    .title-g {
        font-size: 56px;
        text-align: center;
        margin: 0;
    }

    .title-desc {
        max-width: 765px;
        text-align: center;
    }

    p {
        line-height: 21px;
    }

    header {
        background-image: url(../img/background/Header\ Background-full.svg);
        background-size: cover;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .btn-light,
    .btn-dark {
        width: fit-content;
    }

    main {
        width: 90%;
        padding: 0 1.5rem;
    }

    main section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 27px;
        background-color: #fff;

    }

    .sec-crieEspaco,
    .sec-facilEncontrar,
    .sec-paraPoucos,
    .sec-tecInfo {
        margin: 0;
        padding: 48px 16px;
        gap: 0;
    }

    .sec-crieEspaco img,
    .sec-facilEncontrar img,
    .sec-paraPoucos img,
    .sec-tecInfo img {
        width: 607px;
    }

    .sec-crieEspaco h2,
    .sec-facilEncontrar h2,
    .sec-paraPoucos h2,
    .sec-tecInfo h2 {
        width: 350px;
        font-size: 40px;
    }

    .sec-item-container-col h2 {
        text-align: center;
        max-width: 460px;
        width: 810px;
        font-size: 40px;
    }

    .sec-item-container-col p {
        text-align: center;
        max-width: none;
        width: 810px;
        font-size: 16px;
    }

    .sec-facilEncontrar {
        flex-direction: row-reverse;
    }

    .sec-tecInfo {
        flex-direction: column;
    }

    .sec-item-container-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}